# Gradle files
.gradle/
build/
*.apk
*.ap_
*.aab

# Local configuration file
local.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Android Studio
.DS_Store
*.jks
*.keystore

# Misc
*.log
.env
